{%extends 'layout.html'-%}
{%block title-%}hakkinda - {{app_name}}{%endblock-%}

{%block body-%}
<h2>{{app_name}}.</h2>
<div class="margined_div">
    <p>merhaba dunyali.</p>
    <p>
        karsinda can sıkıntımın disa vurumu olarak ifade edilebilecek web sitesi.
        herkesin istedigini yapabilecegi yer, istedigini yazmak ve istedigi yaziyi silmek buna dahil.
        bu acidan bakildiginda oldukca anarsist bir ortam.
        fakat akli basinda ve sayica ufak bir topluluk ile guzel sonuclar verebiliyor.
    </p>
    <p>buraya daha fazla aciklama eklemem gerekirdi ama cok sıkıldım. belki ileride eklerim.</p>
</div>
{%endblock-%}