{%extends 'layout.html'%}
{%block title%}girdi: {{entry.topic}} - {{app_name}}{%endblock%}

{%block body%}
<a href="{{ url_for('topic', name = entry.topic) }}">diger tanimlari da goster</a>
<div class="margined_div">
{{render_entry(entry, topic=True)}}
</div>


<div class="margined_div">
    <h2>riskli bolge</h2>
    <div>
        <h3>girdiyi yok et</h3>
        <form method="post" action="{{ url_for('del_entry') }}">
            {{ risk.csrf_token() }}
            {{ risk.entry_id(hidden='true', value=entry.identifier.value)}}
            <dl>
                {{ render_form_field(risk.text)}}
                {{ render_form_field(risk.checkbox) }}
                {{ render_form_field(risk.checkbox_2) }}
                {{ render_form_field(risk.submit, style="background-color: red", value="yok et") }}
            </dl>
        </form>
    </div>
</div>
{%endblock%}