{%extends "layout.html" %}
{%block title%}{{app_name}}{%endblock%}

{%block body%}
<div class="margined_div">
    <p>
        {{app_name}}.
    </p>
</div>

<div class="draw margined_div">
    <h2>girdi yolla!</h2>
    <form method="post" action="{{ url_for('add_entry') }}" enctype="multipart/form-data">
        {{ entry_form.csrf_token() }}
        <dl>
            {{ render_form_field(entry_form.topic)}}
            {{ render_form_field(entry_form.text)}}
            {{ render_form_field(entry_form.author)}}
            {{ render_form_field(entry_form.submit, value="yolla")}}
        </dl>
    </form>
</div>
<hr>
<div class="draw margined_div">
    <h2>guncel basliklar</h2>
    <div>
        {% for topic in topics -%}
        <div>
            <a href="{{ url_for('topic', name=topic) }}">{{topic}}</a>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
<div class="draw margined_div">
    <h2>son yazarlar</h2>
    <div>
        {% for i in authors -%}
        <div>
            <a href="{{ url_for('author', name=i) }}">{{i}}</a>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
<div class="draw margined_div">
    <h2>rastgele</h2>
    {%for i in random_entries %}
    {{render_entry(i, topic=True)}}
    {%endfor%}
</div>
{%endblock%}