{%extends "layout.html"%}
{%block title%}{{app_name}}{%endblock%}

{%block body%}
<div class="margined_div">
    <p>{{app_name}}. beklenmedik derecede serbest bir ortam.</p>
    <p>bu sayfaya gelen herkesin (sen dahil! yasasin!) istedigi konu hakkinda istedigi isim (genclerin tabiri ile
        "nickname") ile tanimlar yapabilecegi bir yer.</p>
    <p>asiri derecede ozgurlugun oldukca dogal bir sonucu oldugu icin sen de tahmin etmissindir ki <i>bu sitedeki hicbir
            sey dogru veya gercek degildir.</i>
        bu gercekdisiligi kaldiramayacak bunyeye sahip olabilirsin. biz seni bu halinle de seviyoruz (burada kalp emojisi
        var) ancak sozlukteki bilgilerin pek de sana gore olmamasi gibi bir durum soz
        konusu ise kimsenin seni burada olmaya zorlamadigini bilmeni isterim.</p>
    </p>
</div>

<div class="draw margined_div">
    <h2>girdi yolla!</h2>
    <form method="post" action="{{ url_for('add_entry') }}" enctype="multipart/form-data">
        {{ entry_form.csrf_token() }}
        <dl>
            {{ render_form_field(entry_form.topic)}}
            {{ render_form_field(entry_form.text)}}
            {{ render_form_field(entry_form.author)}}
            <p>girdilerinde kucuk bir cocuk gibi davranma. (ayrica bkz: <a
                    href="{{url_for('topic', name='sozluk yazarlarından beklenenler' )}}">sozluk yazarlarından beklenenler</a>)</p>
            {{ render_form_field(entry_form.submit, value="yolla")}}
        </dl>
    </form>
</div>
<hr>
<div class="draw margined_div">
    <h2>guncel basliklar</h2>
    <div class="scrollable">
        {%for topic in topics -%}
        <div>
            <a href="{{ url_for('topic', name=topic) }}">{{topic}}</a>
        </div>
        {%endfor%}
    </div>
</div>
<hr>
<div class="draw margined_div">
    <h2>son yazarlar</h2>
    <div class="scrollable">
        {%for i in authors -%}
        <div>
            <a href="{{ url_for('author', name=i) }}">{{i}}</a>
        </div>
        {%endfor%}
    </div>
</div>
<hr>
<div class="draw margined_div">
    <h2>rastgele</h2>
    {%for i in random_entries%}
    {{render_entry(i, topic=True)}}
    {%endfor%}
</div>
{%endblock%}