{%extends 'layout.html'-%}
{%block title-%}{{topic_name}} - {{app_name}}{%endblock-%}

{%block body-%}
<div class="margined_div">
    <h2>{{topic_name}}</h2>
    {%if not entries-%}
    <p>kimse bu basliga girdi yollamamis...</p>
    {%endif-%}
    {%for entry in entries -%}
    {{render_entry(entry, topic=False)}}
    {%endfor-%}
</div>
<br>
<div class="margined_div">
    <h3>ben {%if entries-%}de {%endif-%}bu basliga girdi ekleyeyim!</h3>
        <p>(ayrica bkz: <a href="{{url_for('topic', name='sozluk yazarlarından beklenenler' )}}">sozluk yazarlarından
                beklenenler</a>)</p>
    <form method="post" action="{{ url_for('add_entry') }}" enctype="multipart/form-data">
        {{ entry_form.csrf_token() }}
        {{ entry_form.topic(type="hidden", value=topic_name) }}
        <dl>
            {{ render_form_field(entry_form.text) }}
            {{ render_form_field(entry_form.author) }}
            {{ render_form_field(entry_form.submit) }}
            </dl>
    </form>
</div>
{%endblock-%}