{%extends 'layout.html'-%}
{%block title-%}basliklar: sayfa {{page}} - {{app_name}}{%endblock-%}

{%block body-%}
<h2>basliklar</h2>
<div class="draw margined_div">
    <div class="list">
        {%for i in topics -%}
        <div>
            <a href="{{ url_for('topic', name=i) }}">{{i}}</a>
        </div>
        {%endfor-%}
    </div>
</div>
    <div class="margined_div">
        <p>su anda {{page}}. sayfadasin.</p>
        <p>
            <a href="?page={{page+1}}">sonraki sayfa</a>{%if page != 1%} <a href="?page={{page-1}}">onceki
                sayfa</a>{%endif-%}
        </p>
    </div>
{%endblock-%}