a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dt,
dd {
    color: whitesmoke;
}

body {
    background-color: #EC4399;
}

input[type="text"],
textarea {
    background-color: #ff96cc;
    border-color: #ff63b4;
    color: #080808;
}

input[type="submit"] {
    background-color: #ff96cc;
}

::placeholder {
    color: #202020;
}