.footer_hr {
    background-color: #22967f;
    color: #22967f;
    height: 1px;
    margin: 2px;
}


dd {
    margin: 10px;
        margin-top: 7px;
        margin-bottom: 25px;
}

dl.grid {
    display: grid;
    grid-gap: 4px 16px;
    grid-template-columns: max-content;
}

dl.grid dd {
    margin: 0;
    grid-column-start: 2;
}
div.entry {
    margin-bottom: 40px;
}
.nounder {
    text-decoration: none;
}

hr {
    max-width: 1050px;
    margin-left: 2px;
}

.margined_div {
    padding: 10px;
    margin: 10px;
    max-width: 1000px;
}

div.scrollable {
    overflow-y: scroll;
    max-height: 400px;
}

div.list div {
    margin-top: 5px;
}
.draw {
    border: #22967f 2px solid;
}

.resized_text {
    width: 550px;
    height: 150px;
    max-width: 100%;
}

a {
    color: black;
}
.error {
    border-color: #dd2059;
    border-width: 5px;
}


input[type="submit"] {
    border-radius: 3px;
}

.entrysubmit {
    font-size: 16pt;
}